<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=decice-width, initial-sacle=1.0">
    <title>{% block title %}ClinicFlow{% endblock %}</title>
</head>
<body>
<header>
    <h1>ClinicFlow</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/patients/">Patients</a> |
        <a href="/doctors/">Doctors</a> |
        <a href="/admin/">Admin</a>
    </nav>
    <hr>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>